{% extends 'base.html.twig' %}

{% block body %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Изтриване на категория</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="box">

                    <hr>

                    {{ form_start(deleteForm) }}
                    {{ form_row(deleteForm.name) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-template-main"><i class="fa fa-eraser"></i> Изтриване</button>
                        <a class="btn btn-template-main" href="{{ path('categories_list') }}">Отказ</a>
                    </div>
                    {{ form_end(deleteForm) }}
                </div>
            </div>


        </div>
    </div>
{% endblock %}

